@font-face {
	font-family: '8-bit Limit R BRK';
	src: url('fonts/8bitlimr.eot');
  src: local(),
    url('fonts/8bitlimr.woff') format('woff'),
    url('./8bitlimr.ttf') format('truetype'),
    url('fonts/8bitlimr.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
