.tracker-pane {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
}

.trackable-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-grow: 1;
}

.spacer {
  flex-grow: 100;
}
